@charset "UTF-8";

html, body {
  height: 100%;
  width: 100%;
  margin: auto;
}

article, aside, footer, header, main, nav, section {
  display: block;
  font-family: sans-serif;
}

.mobile {
  display: none;
}

header {
  background: black;
}

.logo {
  display: block;
  margin: auto;
}

nav {
  color: white;
  display: flex;
  margin: auto;
}

summary:hover {
  text-decoration: underline;
}

details {
  padding: 5px;
  text-align: left;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  text-decoration: none;
  padding: 5px;
  transition: font-size 0.2s;
  color: white; 
}

nav a:hover {
  font-size: 20px;
  border-color: #3498DB;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px; 
}

summary {
  text-align: center;
}

footer a:hover {
  border-color: #3498DB;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

main {
  max-width: 1010px;
  padding: 10px;
  margin: auto;
}

main a {
  transition: font-size 0.2s;
}

main a:hover, main a:focus {
  font-size: 17px;
}

.subheader {
  border-radius: 5px;
}

.subheader, thead {
  background:  #3498DB;
}

h1 {
  color: white;
}

h3 {
  margin-left: 5px;
  color: white;
}

footer {
  max-width: 1000px;
  margin: auto;
  padding-top:10px;
}

footer a {
  padding: 5px;
  transition: font-size 0.2s;
}

section {
  display: flex;
}

section ul {
  width: 50%;
  list-style-type: none;
}

aside {
  background: lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Responsive
==================================== */

@media (max-width: 800px) {
        main, footer { width: 90% }
	.hello { border-spacing:0px; }
	.hello td { display:table;padding-left:20px;padding-right:20px;margin:auto;width:90%; }
	article table { border-style:solid; }
        tr { display:table;width:100%; }
        td { display:table-row; }
        .row div { display:table;  width:100%; }
        .column { display:table-row; }
	section { display:block; }
	section ul { width:90%; }
	.logo { margin-right:10px; }
	.desktop { display: none;}
	.mobile { display: block; }
	details { background: black; padding: 5px; position: absolute; top: 8px; left: 8px; width: auto;}
	summary { text-align: left; }
	header {  height: 55px; }
	header a {text-decoration: none; list-style-type: none; }
	details > summary { list-style: none; }
	details > summary::marker { display: none; }
	footer p a { display:block; }
    }

/* Dark Mode
==================================== */

@media (prefers-color-scheme:dark) {
	html, body { background-color: #1C2833; }
	main { color: white; }
	main a { color: skyblue; }
	.subheader, thead { background:  #3498DB;  color: black; }
	aside { background: gray; }
	footer a { color: skyblue; }
	.invert { filter:invert(100%); }
    }	